.config/fish/fish_variables
.config/waybar.old
.config/googlemessages-nativefier-11f104
.config/keepassxc
.config/.gsd-keyboard.settings-ported
.config/baloofilerc
.config/go/telemetry/local
.config/evolution/sources
.config/dconf
.config/gtk-3.0/bookmarks
.config/.mozilla/zen/Crash Reports
.config/GIMP/3.0
.config/go/telemetry/local
.config/libreoffice/4
.config/obsidian
.config/tidal-hifi
.config/mimeapps.list
.config/mimeapps.list
