.config/fish/fish_variables
.config/waybar.old
.config/googlemessages-nativefier-11f104
.config/keepassxc
.config/.gsd-keyboard.settings-ported
.config/baloofilerc
.config/go/telemetry/local
.config/evolution/sources
.config/dconf
.config/gtk-3.0/bookmarks
