@import "mocha.css";

* {
  /* font-family: FantasqueSansMono Nerd Font; */
  font-family: JetBrainsMono Nerd Font;
  font-size: 17px;
  min-height: 0;
  border-radius: 14px;
  /* background-color: @surface1; */
}

#waybar {
  background: @surface1;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin: 0.5rem;
}

#workspaces button {
  background-color: @surface0;
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  background-color: @surface0;
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  background-color: @surface0;
  color: @sapphire;
  border-radius: 1rem;
}

#workspaces button.urgent {
  background-color: @surface0;
  color: @red;
  border-radius: 1rem;
}

window#waybar.empty #window{
  background: transparent;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-notification,
#network,
#window,
#bluetooth,
#power-profiles-daemon,
#custom-notification,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


#power-profiles-daemon {
  margin-right: 1rem;
  padding-right: 0;
  border-radius: 0px 1rem 1rem 0px;
}

#window {
  background-color: @surface0;
  border-radius: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#clock {
  color: @blue;
  border-radius: 1rem 0px 0px 1rem;
  padding-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @peach;
}

#battery.critical:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 0px;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: @lavender;
}

#custom-power {
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
}

#tray {
  background-color: blue;
  margin-right: 1rem;
  border-radius: 1rem;
}

#custom-notification {
  color: @green;
  border-radius: 0px;
}

#bluetooth {
  color: @flamingo;
  border-radius: 0px;
}

#network {
  color: @mauve;
  border-radius: 1rem 0px 0px 1rem;
  margin-right: 0px;
  padding-right: 1rem;
}
